*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    font-family: Montserrat;
}

.cont{
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin: 1rem;
    text-align: center;
}

div{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    
}

.fizz-buzz{
    background-color: rgb(47, 156, 99);
}

.fizz{
    background-color: rgb(47, 103, 156);
}

.buzz{
    background-color: rgb(156, 98, 47);
}

.number{
    background-color: rgb(156, 47, 111);
}
